<div class="container">
  
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">后台管理</span>
      </div>
      <div class="desc">XXXX信息技术有限公司地图平台</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2018
      <a href="//www.baidu.com" target="_blank">南京XXXX</a>出品
    </global-footer>
  </div>
</div>
