<page-header [title]="'接口管理'" [action]="action">
  <ng-template #action>
    <button nz-button [nzType]="'primary'" (click)="showModal()">配置可用接口</button>
  </ng-template>
</page-header>

<nz-card>
  <nz-table 
  #filterTable 
  [nzData]="displayData"
  nzShowSizeChanger
  [nzShowQuickJumper] = "true"
  >
    <thead (nzSortChange)="sort($event)">
      <tr>
        <th nzWidth="25%">Name</th>
        <th nzWidth="15%" nzShowSort nzSortKey="age">Age</th>
        <th nzWidth="40%">Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filterTable.data">
        <td>
          <div class="editable-cell">
            <div class="editable-cell-text-wrapper">
              <ng-container *ngIf="!editCache[data.key].edit">
                {{data.name}}
              </ng-container>
              <ng-container *ngIf="editCache[data.key].edit">
                <input type="text" nz-input [(ngModel)]="editCache[data.key].data.name">
              </ng-container>
            </div>
          </div>
        </td>
        <td>
          <ng-container *ngIf="!editCache[data.key].edit">
            {{data.age}}
          </ng-container>
          <ng-container *ngIf="editCache[data.key].edit">
            <input type="text" nz-input [(ngModel)]="editCache[data.key].data.age">
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="!editCache[data.key].edit">
            {{data.address}}
          </ng-container>
          <ng-container *ngIf="editCache[data.key].edit">
            <input type="text" nz-input [(ngModel)]="editCache[data.key].data.address">
          </ng-container>
        </td>
        <td>
          <div class="editable-row-operations">
            <ng-container *ngIf="!editCache[data.key].edit">
              <a (click)="startEdit(data.key)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="startEdit(data.key)">删除</a>
            </ng-container>
            <ng-container *ngIf="editCache[data.key].edit">
              <a (click)="saveEdit(data.key)">保存</a>
              <nz-divider nzType="vertical"></nz-divider>
              <nz-popconfirm [nzTitle]="'确定取消?'" (nzOnConfirm)="cancelEdit(data.key)">
                <a nz-popconfirm>取消</a>
              </nz-popconfirm>
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<nz-modal [(nzVisible)]="isVisible" nzTitle="配置可用接口" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <nz-tree
      [nzData]="nodes"
      nzCheckable="true"
      nzMultiple="true"
      (nzCheckBoxChange)="nzEvent($event)">
    </nz-tree>
</nz-modal>