<div class="alain-default__aside-inner">
  <!-- <ul nz-menu [nzMode]="'inline'">
      <li nz-submenu [(nzOpen)]="openMap.sub3" (nzOpenChange)="openHandler('sub3')">
          <span title><i nz-icon type="setting"></i> 系统配置</span>
          <ul>
            <li nz-menu-item>菜单管理</li>
            <li nz-menu-item (click)="readMore()">权限管理</li>
            <li nz-menu-item>角色管理</li>
            <li nz-menu-item>用户管理</li>
          </ul>
        </li>
  </ul> -->
  <sidebar-nav class="d-block"></sidebar-nav>
</div>
