<nz-modal [(nzVisible)]="isAddVisible" nzTitle="新增页面" (nzOnCancel)="handleCancelAdd()" (nzOnOk)="addhandleOk()" nzWidth="50%">
  <form nz-form [formGroup]="validateForm" style="margin-bottom: 1vw;">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSm]="12" [nzXs]="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="4" [nzXs]="6"  nzRequired>ID</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="18" nzHasFeedback >
            <input formControlName="authID" nz-input placeholder="ID">
            <nz-form-explain *ngIf="validateForm.get('authID').dirty && validateForm.get('authID').errors || validateForm.get('authID').pending ">
              <ng-container *ngIf="validateForm.get('authID').hasError('required')">
                请输入您的ID!
              </ng-container>
              <ng-container *ngIf="validateForm.get('authID').hasError('duplicated')">
                当前ID已被占用!
              </ng-container>
              <ng-container *ngIf="validateForm.get('authID').hasError('regular')">
                ID只能是数字和字母!
              </ng-container>
              <ng-container *ngIf="validateForm.get('authID').pending">
                验证中...
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSm]="12" [nzXs]="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="4" [nzXs]="6"  nzRequired>名称</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="18" nzHasFeedback>
            <input formControlName="authName" nz-input placeholder="名称...">            
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSm]="24" [nzXs]="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="2" [nzXs]="6" >类型</nz-form-label>
          <nz-form-control [nzSm]="21" [nzXs]="18">
            <nz-select nzMode="tags" style="width: 100%;" nzPlaceHolder="添加类型..." [(ngModel)]="listOfTagOptions"
              [ngModelOptions]="{standalone: true}" >
              <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSm]="24" [nzXs]="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="2" [nzXs]="6">备注</nz-form-label>
          <nz-form-control [nzSm]="21" [nzXs]="18">
            <input formControlName="authRemark" nz-input placeholder="备注">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div>
    <nz-table #editRowTable [nzData]="dataSet" [nzHideOnSinglePage]="true">
      <thead>
        <tr>
          <th>操作类型</th>
          <th>描述</th>
          <th>是否选中</th>
          <th>操作 <i nz-icon class="anticon anticon-plus" (click)="addRow()" style="cursor: pointer;" nzTitle="添加"
              nzPlacement="top" nz-tooltip></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data">
          <td>
            <div class="editable-cell">
              <div class="editable-cell-text-wrapper">
                <ng-container *ngIf="!editCache[data.key].edit">
                  {{data.action}}
                </ng-container>
                <ng-container *ngIf="editCache[data.key].edit">
                  <input type="text" nz-input [(ngModel)]="editCache[data.key].data.action" [ngModelOptions]="{standalone: true}">
                </ng-container>
              </div>
            </div>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.key].edit">
              {{data.describe}}
            </ng-container>
            <ng-container *ngIf="editCache[data.key].edit">
              <input type="text" nz-input [(ngModel)]="editCache[data.key].data.describe" [ngModelOptions]="{standalone: true}">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.key].edit">
              {{data.defaultCheck}}
            </ng-container>
            <ng-container *ngIf="editCache[data.key].edit">
              <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="editCache[data.key].data.defaultCheck">
                <nz-option nzLabel="true" nzValue="true"></nz-option>
                <nz-option nzLabel="false" nzValue="false"></nz-option>
              </nz-select>
            </ng-container>
          </td>
          <td>
            <div class="editable-row-operations">
              <ng-container *ngIf="!editCache[data.key].edit">
                <a (click)="startEdit(data.key)" style="margin-right:1vw">编辑</a>
                <nz-popconfirm [nzTitle]="'确定要删除吗'" (nzOnConfirm)="deleteRow(data.key)">
                  <a nz-popconfirm>删除</a>
                </nz-popconfirm>
              </ng-container>
              <ng-container *ngIf="editCache[data.key].edit">
                <a (click)="saveEdit(data.key)" style="margin-right:1vw">保存</a>
                <nz-popconfirm [nzTitle]="'确定要离开吗?'" (nzOnConfirm)="cancelEdit(data.key)">
                  <a nz-popconfirm>离开</a>
                </nz-popconfirm>
              </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="modal-footer">
    <button nz-button type="button" (click)="handleCancelAdd()">取消</button>    
    <button nz-button type="button" [nzType]="'primary'" (click)="addhandleOk()" [nzLoading]="isLoadingOne" [disabled]="validateForm.get('authID').errors||!validateForm.get('authName').dirty">保存</button>
  </div>
</nz-modal>